.single-products-box a{
	@extend %a-tag;
}

.rateing-btn,
.change-password-btn{
	width: 100%;
    max-width: 95%;
	@extend %custom-btn;

	&:hover{
		background-color:$bg-color;
  		color:$white-color;

  		a {
			color:$white-color;
  		}
	}

	a {
		color:$black-color;
	}
}
.title-wishlist{
	position: $position-relative;

	.wishlist{
		position: absolute;
	    top: 0;
	    right: 0;
	    padding-top: 4px;
	}

}
