/* Custom Stylesheet */


/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



/*.tranding-btn a:hover {
  background: transparent;
  color: #444;
}*/


/*.custom-container .input-field.col label {
  color: #000;
  padding-left: 0.75rem;
  left: 0;
}*/


/*.product-categoery-icon .row {
  margin-bottom: 0px;
}
*/
/*.product-categoery-icon h5 {
  font-size: 1rem;
  font-weight: 500;
}*/
/*.edit-profile-section .section.topbar {
  height: 100px;
}
*/
/*.edit-profile-section .wrap-padding {
  background: #ffff;
  box-shadow: none;
}*/
/*.wrap-padding.porducts-list {
  padding: 0px 0px;
}*/

/*.porducts-list .col {
  margin-bottom: 12px;
}*/

/*.iav {
  border-radius: 50%;
  border: 1px solid #007aff;
}*/



/*
.box-shadow-hide {
  box-shadow: none;
}*/




/*.user-view.center {
  padding: 30px;
}
*/



/*.custom-modal {
  max-width: 500px;
}*/

/*.Upgrade-Plan-btn {
  background: linear-gradient(to right, rgba(254, 39, 82, 1) 0%, rgba(237, 33, 44, 1) 100%);
  text-transform: initial;
  margin-top: 20px;
}
*/
/*.custom-modal h4 {
  margin-top: 20px;
}*/
/*
.swiper-wrapper {
  padding-bottom: 30px;
}*/


/*ul.collapsible {
  border: 0px;
  box-shadow: none;
}*/


